<li class='list-group-item'>
	<%= "#{ task.name } #{ "- Complete" if task.completed_date }" %>
	<span class='pull-right'>
		<%= link_to "<span class='glyphicon glyphicon-check'></span>".html_safe, complete_task_path(task), method: 'patch' %>
		<%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, task_path(task), method: 'delete' %>
	</span>
</li>
